.seat{
    height: 30px; 
    width: 30px;
    margin-right: 10px;
    border-style: solid;
    margin-top: 30px;
}
#root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}